/** universe settings**/
:root {
  /* color lib */
  /* --ye: #fefe30;
  --blu: #0045fe;
  --re: #fe220a;
  --darkblu: rgb(2, 2, 31);
  --lightgre: #deff00;
  --darkgre: #72810c;
  --seconddark: #910022; */
  /* chromatic style */
  --ultraDark: rgb(2, 2, 31);
  --neutral: #0117E0;
  --light: #2b40fb;
  --secondDark: #947300;
  --secondNeutral: #E0AF00;
  /* image lib */
  --html: url(images/html.png);
  --css: url(images/css.png);
  --js: url(images/js.png);
  --haaga: url(photo/haaga.png);
  --free: url(photo/free.png);
  --meh: url(photo/meh.png);
  --footer: url(photo/footer.png);

}

html {
  font-size: 16px;
  display: grid;
  scroll-behavior: smooth;
  transition: 1s;
  /* cursor: none; */
}

* {
  /** model box**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  /** font from GOOGLE FONTS **/
  font-family: 'Spline Sans Mono', monospace;
  line-height: 1.5;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "frame1"
    "main"
    "about"
    "footer"
    "scroll";
}

.title-text {
  color: var(--light);
}

.title-text2 {
  color: var(--neutral);
}

/* .btn {
  margin-top: 2rem;
  padding: 0.5rem;
  border: 2px solid white !important;
  color: var(--neutral);
  cursor: pointer;
  transition: 0.75s;
}

.btn:hover {
  background-color: white;
  color: blue;
}

.btn--activated {
  color: yellow !important;
} */
.btn{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;}
  .btn:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px var(--secondNeutral);
}



.btn-primary+.btn-primary {
  margin-left: 30px;

  font-weight: bold;
}

a {
  text-decoration: none;
}

.fa-search {
  color: white;
  margin-right: 1rem;
}

#start,
#project,
#about,
#contact {
  margin: 0;
}

/* FRAME 1 */
/* elements setting */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  grid-area: video;
}

#frame1__wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: stretch;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "nav"
    "header";
  background-color: transparent;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  grid-area: frame1;
  overflow-x: hidden;
}

#nav__wrapper {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
}

.nav__btn {
  text-align: right;
  width: auto;
  min-height: 1rem;
  padding: 1rem 1rem 0 0;
  text-decoration: none;
  margin-right: 1rem;
  color: var(--secondNeutral);
}

.nav__btn:hover {
  height: auto;
  color: var(--light);
  border-bottom: 2px solid var(--dark);
  border-radius: 90%;
  transition: 0.5s;
  scale: 1.5;
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-right: 2rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

ul li {
  color: white;
  list-style-type: none;
}

.header_des {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  animation: shine 3s infinite;
  text-shadow: 0 0px 0px rgba(224, 175, 0, 0.5);
  font-size: 20px;
}

.header_title {
  font-size: 60px;
}

#header__wrapper {
  display: flex;
  height: 50vh;
  flex-direction: column;
  grid-area: header;
  justify-content: center;
  transition: 0.1s;
  box-sizing: border-box;
}

#heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 50%;
  margin: auto;


}

/* setting sun moon and earth */
.center__text {
  color: var(--neutral);
  margin: auto;
  z-index: 1;
  color: var(--neutral);
  padding: 24px;
  box-sizing: border-box;

}

.center__text:hover {
  color: var(--ultraLight);

}

#center {
  color: black !important;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.75s;

}

#center:hover {
  width: 100px;
  height: 100px;
  background-color: var(--secondNeutral);
  transform: scale(1.05);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
}

#center #sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(224, 175, 0, 46);
  box-shadow: 0 0 15px rgba(148, 115, 0, 0.5),
    0 0 30px rgba(148, 115, 0, 0.5),
    0 0 45px rgba(148, 115, 0, 0.5),
    0 0 60px rgba(148, 115, 0, 0.5),
    0 0 15px rgba(148, 115, 0, 0.5);
}

#center #sun #earth {
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 150px;
  height: 2px;
  transform-origin: left;
  animation: rotate 10s linear infinite;


}

#center #sun #earth:before {
  content: url(photo/globe.png);
  position: absolute;
  top: -25px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(224, 175, 0, 46);

  box-shadow: 0 0 15px rgba(148, 115, 0, 0.5),
  0 0 30px rgba(148, 115, 0, 0.5),
  0 0 45px rgba(148, 115, 0, 0.5),
  0 0 60px rgba(148, 115, 0, 0.5),
  0 0 15px rgba(148, 115, 0, 0.5);
  animation: rotate 10s linear infinite;
}

#center #sun #earth #moon {
  position: absolute;
  right: 25px;
  width: 60px;
  height: 1px;
  transform-origin: right;
  animation: rotate 5s linear infinite;

}

#center #sun #earth #moon:before {
  content: url(photo/moon.png);
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* FRAME 2 */
/* color setting */
#main,
.frame2__wrapper {
  padding: 0;
  margin: 0;
  grid-area: main;
  background-color: var(--ultraDark);
}

#content {
  width: 100%;
  min-height: 100vh;
  background: url(images/cake.jpeg) center/cover;
  background-attachment: fixed;
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
}

.menu_top {
  display: flex;
  height: 5rem;
  align-items: center;
  background-color: #ffffff;
}

.menu_top img,
.contact,
.button,
.menu_top ul {
  flex: 1;
  justify-content: center;
}

.menu_top ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.menu_top ul li {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

h3.name {
  margin-top: 12rem;
  color: white;
}

h3.us {
  font-size: 2.5rem;
}

h3.us b,
h3.name b {
  color: peru;
}

#middle {
  margin-top: 6rem !important;
  display: flex;
  width: 80%;
  margin: auto;
}

.left {
  padding-right: 5rem;
}

.right {
  height: 400px;
}

.right img {
  max-width: 100%;
  height: auto;

}

.square {
  position: relative;
}

.square::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  outline: 0.5rem solid peru;
  transition: 1s;
}

#filter {
  min-height: 100vh;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#filter_button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#input_filter {
  padding-top: 3rem;
}

#filter-data {
  max-width: 90rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.4s;
  padding: 1rem;

}

#search-item {
  padding: 0.75rem;
  width: 15rem;
  background-color: black;
  border: 2px solid white;
  color: white;

}

article {
  margin: 3rem 4rem 3rem 4rem;

}
.element_projects:hover{
  scale: 1.15;
  transition: 0.75s;
  cursor: pointer;
}
.post__item {
  position: relative;
  height: 21rem;
  width: 18rem;
  background: var(--secondNeutral);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 0.5rem;
  
}
.post__item:hover::before {
  content: "";
  height: 40rem;
  width: 35rem;
  background: linear-gradient(90deg, red, blue);
  position: absolute;
  z-index: 2;
  animation: rotate 2s linear infinite;
  
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.post__item::after {
  content: "";
  height: 20.5rem;
  width: 17.5rem;
  background: black;
  position: absolute;
  z-index: 2;
  border-radius: 0.5rem;
}
.post__image {
  height: 150px;
  width: 100%;
  z-index: 3;
  border-radius: 0.5rem;

}

.infor {
  text-align: left;
  color: white;
  font-size: 5px;
  z-index: 3;
display: flex;
flex-wrap: wrap;
flex-direction: column;
max-width: 90%;
min-height: 90%;

}

.name_item {
  font-size: 20px;
  margin-top: 20px;
}

.type {
  font-size: 15px;
}

#logo__wrapper {
  width: 335px;
  height: 47px;
  display: flex;
  justify-items: flex-start;
}

.logo__item {
  height: 40px;
  width: 40px;
}
.fa-brands{
  font-size: 2rem;
  margin-top: 20px;
}
.fa-brands + .fa-brands{
margin-left: 10px;
}

.item-css {
  background-image: var(--css);
  background-size: contain;
  background-position: center;
}

.item-js {
  background-image: var(--js);
  background-size: contain;
  background-position: center;
} */

.item-git {
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}

.item-in {

  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.item-git+.item-in {
  margin-left: 1rem;
}

.active {
  background: yellow !important;
  color: blue;
}

/* modal box */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 3;
  display: none;
}

.modal_box {
  position: relative;
  width: 80% !important;
  margin: auto;
  top: 0;
  min-height: 100vh;
  text-align: right;
  z-index: 100;
}

.fa-window-close {
  cursor: pointer;
  font-size: 3rem !important;
}

.lightbox {
  min-height: 80vh;
}

.fa-caret-left,
.fa-caret-right {
  cursor: pointer;
  top: 50%;
  z-index: 99;
  position: absolute;
  font-size: 3rem !important;
  transition: 0.4s;
}

.fa-caret-left {
  left: 0px;
  padding-right: 2rem;
  transform: translate(-60%, -50%);

}

.fa-caret-right {
  right: 0px;
  transform: translate(60%, -50%);
  padding-left: 2rem;
}

.fa-caret-left:hover,
.fa-caret-right:hover,
.fa-window-close:hover {
  content: '';
  color: red;
}

/* FRAME ABOUT */
#frame_about {
  grid-area: about;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6rem;
  background-color: transparent;

}

.about_column {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid white;
}

.about_logo {
  width: 100%;
  height: 50%;
}

.about_logo,
.about_content {
  margin: auto;
  text-align: left;
}

.about_heading {
  font-size: 15px;
  font-weight: bold;
  color: whitesmoke;
}

.about_title {
  color: whitesmoke;
}

.c1 {
  content: var(--haaga);
}

.c2 {
  content: var(--free);
}

.c3 {
  content: var(--meh);
}

/* FOOTER */
/* color setting */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  grid-area: footer;
  background-color: rgb(2, 2, 31);
  background-size: cover;
  max-height: 80rem;
}

#footer__logo {
  display: flex;
  align-self: center;
}

.frame3__upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  text-align: center;
  z-index: 2;
}

.upper__text {
  text-align: left !important;
  color: white;
  font-weight: bold;
  line-height: 2;
}

.header_title2 {
  color: white;
  text-align: left;
  font-size: 29px;
}

.header_title1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@-webkit-keyframes shine {

  0%,
  10% {
    background-position: -1000px;
  }

  100% {
    background-position: 1000px;
  }
}

.header_des1 {
  color: white;
  line-height: 2;
}

.frame3__below {
  max-width: 40rem;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.input__contact {
  background-color: rgba(48, 51, 84, 0.5);
  margin-top: 0.5rem;
  width: 14rem;
}

#contact__form {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: auto;
  padding-bottom: 10px;
}

.button__contact {
  align-self: flex-end;
  margin-top: 0;
}

.footer_background {
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: var(--footer);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

#scroll-container {
  grid-area: scroll;
  background-color: white;
}

/* animation */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header__wrapper:hover {
  color: var(--light);

}
