/** universe settings**/
:root {
  --ultraDark: rgb(2, 2, 31);
  --neutral: #0117E0;
  --light: #2b40fb;
  --secondDark: #947300;
  --secondNeutral: #E0AF00;
  /* image lib */

  /* --haaga: url(photo/haaga.png);
  --free: url(photo/free.png);
  --meh: url(photo/meh.png);
  --footer: url(photo/footer.png); */

}

html {
  font-size: 16px;
  display: grid;
  scroll-behavior: smooth;
  transition: 1s;
  /* cursor: none; */
}

* {
  /** model box**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  /** font from GOOGLE FONTS **/
  font-family: 'Spline Sans Mono', monospace;
  line-height: 1.5;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "frame1"
    "main"
    "about"
    "footer"
    "scroll";
}

.title-text {
  color: var(--light);
}

.title-text2 {
  color: var(--neutral);
}

.btn{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;}
  .btn:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px var(--secondNeutral);
}



.btn-primary+.btn-primary {
  margin-left: 30px;

  font-weight: bold;
}

a {
  text-decoration: none;
}

.fa-search {
  color: white;
  margin-right: 1rem;
}

#start,
#project,
#about,
#contact {
  margin: 0;
}