
:root{
  --footer: url(../Photo/footer.png);
}
/* FOOTER */
/* color setting */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(2, 2, 31);
  background-size: cover;
  max-height: 80rem;
}
  #footer__logo {
    display: flex;
    align-self: center;
  }
  
  .frame3__upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    text-align: center;
    z-index: 2;
  }
  
  .upper__text {
    text-align: left !important;
    color: white;
    font-weight: bold;
    line-height: 2;
  }
  
  .header_title2 {
    color: white;
    text-align: left;
    font-size: 29px;
  }
  
  .header_title1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
 
  
  .header_des1 {
    color: white;
    line-height: 2;
  }
  
  .frame3__below {
    max-width: 40rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  
  .input__contact {
    background-color: rgba(48, 51, 84, 0.5);
    margin-top: 0.5rem;
    width: 14rem;
  }
  
  #contact__form {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    padding-bottom: 10px;
  }
  
  .button__contact {
    align-self: flex-end;
    margin-top: 0;
  }
  
  .footer_background {
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: var(--footer);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
  }
  
  #scroll-container {
    grid-area: scroll;
    background-color: white;
  }
  
  /* animation */
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  #header__wrapper:hover {
    color: var(--light);
  
  }
  