/* FRAME 2 */
/* color setting */
.frame2__wrapper {
  padding: 0;
  margin: auto;
  grid-area: main;
  background-color: var(--ultraDark);
  display:  flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
}
/* filter settings */
#filter {
  padding: 4rem;
  max-height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;

  
}

#filter_button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
#filter-data {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.4s;

}
.articleWrapper{
  padding-left: 1rem;
  padding-right: 1rem;

}
.active {
  background: yellow !important;
  color: blue;
  width: 2rem;
}