.header_des {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    animation: shine 3s infinite;
    text-shadow: 0 0px 0px rgba(224, 175, 0, 0.5);
    font-size: 20px;
  }
  
  .header_title {
    font-size: 60px;
    color: var(--light);
  
  }
  
#heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 50%;
    margin: auto;
  }
  /* effect script */
  @keyframes shine {

    0%,
    10% {
      background-position: -1000px;
    }
  
    100% {
      background-position: 1000px;
    }
  }